@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-left">
	<div class="field00">
		<!-- IDデータ入力 -->
		<label>
			ID
			<input type="text" id="idinput">
		</label>
		<!-- データ入力ボタン -->
		<button type="button">データ入力</button>
	</div>
	<div class="field10">
		<div class="field11">
			<!-- 画面タイトル -->
			<div class="field20">
				<div class="field21">
					<img class="image20" src="~/images/mark.png" />
				</div>
				<div class="field22">
					<img class="image21" src="~/images/title.png" />
				</div>
			</div>
			<!-- データ入力表 -->
			<div class="field30">
				<div class="field31">
					<table width="100%" border="4" bordercolor="red">
						<thead>
							<tr>
								<th class="tablestyle30">A</th>
								<th class="tablestyle30">A</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th align="center" class="tablestyle31">ID</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.PersonalData.ID)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">種別</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.PersonalData.SportsType)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">名前</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.PersonalData.Name)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">学年</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.PersonalData.Grade)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">性別</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.PersonalData.Sex)</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="field32">
					<table width="100%" border="4" bordercolor="red">
						<thead>
							<tr align="center">
								<th class="tablestyle30">A</th>
								<th class="tablestyle31">測定日</th>
								<th class="tablestyle31">学年</th>
								<th class="tablestyle31">種目</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th align="center" class="tablestyle31">今回</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[0].MeasureDay)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[0].Grade)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[0].SportsType)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">前回①</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[1].MeasureDay)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[1].Grade)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[1].SportsType)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">前回②</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[2].MeasureDay)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[2].Grade)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[2].SportsType)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">前回③</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[3].MeasureDay)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[3].Grade)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[3].SportsType)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">前回④</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[4].MeasureDay)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[4].Grade)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[4].SportsType)</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="field33">
					<img class="image30" src="~/images/player.png" />
				</div>
			</div>
			<!-- 体格データ表/グラフ -->
			<div class="field40">
				<div class="field41">
					<img class="image40" src="~/images/taikakuwaku.png" />
					<div class="field410">
						<p>AAAA</p>
					</div>
					<div class="field411">
						<p>BBBB</p>
					</div>
					<div class="field412">
						<p>CCCC</p>
					</div>
					<div class="field413">
						<p>DDDD</p>
					</div>
					<div class="field414">
						<p>EEEE</p>
					</div>
					<div class="field420">
						<p>AA00</p>
					</div>
					<div class="field421">
						<p>BB00</p>
					</div>
					<div class="field422">
						<p>CC00</p>
					</div>
					<div class="field423">
						<p>DD00</p>
					</div>
					<div class="field424">
						<p><b>EE00</b></p>
					</div>
					<div class="field430">
						<p>AA01</p>
					</div>
					<div class="field431">
						<p>BB01</p>
					</div>
					<div class="field432">
						<p>CC01</p>
					</div>
					<div class="field433">
						<p>DD01</p>
					</div>
					<div class="field434">
						<p><b>EE01</b></p>
					</div>
					<div class="field440">
						<p>AA02</p>
					</div>
					<div class="field441">
						<p>BB02</p>
					</div>
					<div class="field442">
						<p>CC02</p>
					</div>
					<div class="field443">
						<p>DD02</p>
					</div>
					<div class="field444">
						<p><b>EE02</b></p>
					</div>
					<div class="field450">
						<p>AA03</p>
					</div>
					<div class="field451">
						<p>BB03</p>
					</div>
					<div class="field452">
						<p>CC03</p>
					</div>
					<div class="field453">
						<p>DD03</p>
					</div>
					<div class="field454">
						<p><b>EE03</b></p>
					</div>
					<div class="field460">
						<p>AA04</p>
					</div>
					<div class="field461">
						<p>BB04</p>
					</div>
					<div class="field462">
						<p>CC04</p>
					</div>
					<div class="field463">
						<p>DD04</p>
					</div>
					<div class="field464">
						<p><b>EE04</b></p>
					</div>
				</div>
				<div class="field47">
					<div id="taikaku_chart" class="field48">
					</div>
				</div>
			</div>
			<!-- 体力/運動能力結果 -->
			<div class="field50">
				<img class="image50" src="~/images/nouryokuwaku.png" />
				<div class="field510">
					<p>AAAA</p>
				</div>
				<div class="field511">
					<p>BBBB</p>
				</div>
				<div class="field512">
					<p>CCCC</p>
				</div>
				<div class="field513">
					<p>DDDD</p>
				</div>
				<div class="field514">
					<p>EEEE</p>
				</div>
				<div class="field520">
					<p>AA00</p>
				</div>
				<div class="field521">
					<p>BB00</p>
				</div>
				<div class="field522">
					<p>CC00</p>
				</div>
				<div class="field523">
					<p>DD00</p>
				</div>
				<div class="field524">
					<p><b>EE00</b></p>
				</div>
				<div class="field525">
					<p>★★★★★</p>
				</div>
				<div class="field526">
					<p>★★★★★</p>
				</div>
				<div class="field527">
					<p>★★★★★</p>
				</div>
				<div class="field528">
					<p>★★★★★</p>
				</div>
				<div class="field529">
					<p>★★★★★</p>
				</div>
				<div class="field530">
					<p>AA01</p>
				</div>
				<div class="field531">
					<p>BB01</p>
				</div>
				<div class="field532">
					<p>CC01</p>
				</div>
				<div class="field533">
					<p>DD01</p>
				</div>
				<div class="field534">
					<p><b>EE01</b></p>
				</div>
				<div class="field535">
					<p>★★★★★</p>
				</div>
				<div class="field536">
					<p>★★★★★</p>
				</div>
				<div class="field537">
					<p>★★★★★</p>
				</div>
				<div class="field538">
					<p>★★★★★</p>
				</div>
				<div class="field539">
					<p>★★★★★</p>
				</div>
				<div class="field540">
					<p>AA02</p>
				</div>
				<div class="field541">
					<p>BB02</p>
				</div>
				<div class="field542">
					<p>CC02</p>
				</div>
				<div class="field543">
					<p>DD02</p>
				</div>
				<div class="field544">
					<p><b>EE02</b></p>
				</div>
				<div class="field545">
					<p>★★★★★</p>
				</div>
				<div class="field546">
					<p>★★★★★</p>
				</div>
				<div class="field547">
					<p>★★★★★</p>
				</div>
				<div class="field548">
					<p>★★★★★</p>
				</div>
				<div class="field549">
					<p>★★★★★</p>
				</div>
				<div class="field550">
					<p>AA03</p>
				</div>
				<div class="field551">
					<p>BB03</p>
				</div>
				<div class="field552">
					<p>CC03</p>
				</div>
				<div class="field553">
					<p>DD03</p>
				</div>
				<div class="field554">
					<p><b>EE03</b></p>
				</div>
				<div class="field555">
					<p>★★★★★</p>
				</div>
				<div class="field556">
					<p>★★★★★</p>
				</div>
				<div class="field557">
					<p>★★★★★</p>
				</div>
				<div class="field558">
					<p>★★★★★</p>
				</div>
				<div class="field559">
					<p>★★★★★</p>
				</div>
				<div class="field560">
					<p>AA04</p>
				</div>
				<div class="field561">
					<p>BB04</p>
				</div>
				<div class="field562">
					<p>CC04</p>
				</div>
				<div class="field563">
					<p>DD04</p>
				</div>
				<div class="field564">
					<p><b>EE04</b></p>
				</div>
				<div class="field565">
					<p>★★★★★</p>
				</div>
				<div class="field566">
					<p>★★★★★</p>
				</div>
				<div class="field567">
					<p>★★★★★</p>
				</div>
				<div class="field568">
					<p>★★★★★</p>
				</div>
				<div class="field569">
					<p>★★★★★</p>
				</div>
				<div class="field570">
					<p>AA05</p>
				</div>
				<div class="field571">
					<p>BB05</p>
				</div>
				<div class="field572">
					<p>CC05</p>
				</div>
				<div class="field573">
					<p>DD05</p>
				</div>
				<div class="field574">
					<p><b>EE05</b></p>
				</div>
				<div class="field575">
					<p>★★★★★</p>
				</div>
				<div class="field576">
					<p>★★★★★</p>
				</div>
				<div class="field577">
					<p>★★★★★</p>
				</div>
				<div class="field578">
					<p>★★★★★</p>
				</div>
				<div class="field579">
					<p>★★★★★</p>
				</div>
				<div class="field580">
					<p>AA06</p>
				</div>
				<div class="field581">
					<p>BB06</p>
				</div>
				<div class="field582">
					<p>CC06</p>
				</div>
				<div class="field583">
					<p>DD06</p>
				</div>
				<div class="field584">
					<p><b>EE06</b></p>
				</div>
				<div class="field585">
					<p>AA07</p>
				</div>
				<div class="field586">
					<p>BB07</p>
				</div>
				<div class="field587">
					<p>CC07</p>
				</div>
				<div class="field588">
					<p>DD07</p>
				</div>
				<div class="field589">
					<p><b>EE07</b></p>
				</div>
				<div class="field590">
					<p><b>AA08</b></p>
				</div>
				<div class="field591">
					<p><b>BB08</b></p>
				</div>
				<div class="field592">
					<p><b>CC08</b></p>
				</div>
				<div class="field593">
					<p><b>DD08</b></p>
				</div>
				<div class="field594">
					<p><b>EE08</b></p>
				</div>
				<div class="field595">
					<p><b>FF08</b></p>
				</div>
				<div class="field596">
					<p><b>GG08</b></p>
				</div>
				<div class="field597">
					<p><b>HH08</b></p>
				</div>
			</div>
			<!-- 体力/運動能力結果 -->
			<div class="field60">
				<p>個人の評価は<span>測定時の年齢（●歳●ヶ月）</span>に基づいて5段階で評価しています（”<span>★</span>”が多いほど、評価が高いことを示しています）。全体・種目・チーム平均の評価は，<span>各学年・性別毎の平均値</span>を基に算出しています。</p>
			</div>
		</div>
		<div class="field11">
			<!-- 体力/運動能力グラフ -->
			<div class="field70">
				<div class="field71">
					<img class="image70" src="~/images/graph.png" />
				</div>
				<div class="field72">
				</div>
				<div class="field73">
					<div class="field74">
						<img class="image71" src="~/images/avreg.png" />
					</div>
					<div class="field75">
						<p>A</p>
					</div>
				</div>
			</div>
			<div class="field80">
				<div class="field81">
					<div class="field82">
						<img class="image80" src="~/images/20mrun.png" />
					</div>
					<div id="noryoku1_chart" class="field84">
					</div>
				</div>
				<div class="field81">
					<div class="field83">
						<img class="image80" src="~/images/proji.png" />
					</div>
					<div id="noryoku2_chart" class="field85">
					</div>
				</div>
				<div class="field81">
					<div class="field82">
						<img class="image80" src="~/images/tachhaba.png" />
					</div>
					<div id="noryoku3_chart" class="field84">
					</div>
				</div>
				<div class="field81">
					<div class="field83">
						<img class="image80" src="~/images/hantobi.png" />
					</div>
					<div id="noryoku4_chart" class="field85">
					</div>
				</div>
				<div class="field81">
					<div class="field82">
						<img class="image80" src="~/images/suitobi.png" />
					</div>
					<div id="noryoku5_chart" class="field84">
					</div>
				</div>
				<div class="field81">
					<div class="field83">
						<img class="image80" src="~/images/rebundjmp.png" />
					</div>
					<div id="noryoku6_chart" class="field85">
					</div>
				</div>
			</div>
			<div class="field90">
				<p>赤色のグラフは測定値で、赤丸の場所から得点を判断することができます（<span>5点</span>は1.5 SDより優れている、<span>4点</span>は1.5 SDと0.5 SDの間、<span>3点</span>は-0.5 SDと0.5 SDの間、<span>2点</span>は-0.5 SDと-1.5 SDの間、<span>1点</span>は-1.5 SDより劣る）。</p>
			</div>
			<div class="field100">
				<img class="image100" src="~/images/personInfo.png" />
			</div>
			<div class="field110">
				<div class="field111">
					<img class="image110" src="~/images/vconm.png" />
				</div>
				<div class="field112">
					<img class="image110" src="~/images/spconm.png" />
				</div>
				<div class="field113">
					<img class="image111" src="~/images/gsconm.png" />
				</div>
				<div class="field114">
					<img class="image110" src="~/images/ntconm.png" />
				</div>
			</div>
		</div>
	</div>
</div>
