@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-left">
	<div class="field00">
		<!-- IDデータ入力 -->
		<label>
			ID
			<input type="text" id="idinput">
		</label>
		<!-- データ入力ボタン -->
		<button type="button">データ入力</button>
	</div>
	<div class="field10">
		<div class="field11">
			<!-- 画面タイトル -->
			<div class="field20">
				<div class="field21">
					<img class="image20" src="~/images/mark.png" />
				</div>
				<div class="field22">
					<img class="image21" src="~/images/title.png" />
				</div>
			</div>
			<!-- データ入力表 -->
			<div class="field30">
				<div class="field31">
					<table width="100%" border="4" bordercolor="red">
						<thead>
							<tr>
								<th class="tablestyle30">A</th>
								<th class="tablestyle30">A</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th align="center" class="tablestyle31">ID</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.PersonalData.ID)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">種別</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.PersonalData.SportsType)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">名前</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.PersonalData.Name)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">学年</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.PersonalData.Grade)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">性別</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.PersonalData.Sex)</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="field32">
					<table width="100%" border="4" bordercolor="red">
						<thead>
							<tr align="center">
								<th class="tablestyle30">A</th>
								<th class="tablestyle31">測定日</th>
								<th class="tablestyle31">学年</th>
								<th class="tablestyle31">種目</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th align="center" class="tablestyle31">今回</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[0].MeasureDay)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[0].Grade)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[0].SportsType)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">前回①</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[1].MeasureDay)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[1].Grade)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[1].SportsType)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">前回②</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[2].MeasureDay)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[2].Grade)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[2].SportsType)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">前回③</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[3].MeasureDay)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[3].Grade)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[3].SportsType)</td>
							</tr>
							<tr>
								<th align="center" class="tablestyle31">前回④</th>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[4].MeasureDay)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[4].Grade)</td>
								<td align="left" class="tablestyle32">@Html.DisplayFor(model => model.MeasureHistorys[4].SportsType)</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="field33">
					<img class="image30" src="~/images/player.png" />
				</div>
			</div>
			<!-- 体格データ表/グラフ -->
			<div class="field40">
				<div class="field41">
					<img class="image40" src="~/images/taikakuwaku.png" />
					<div class="field410">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[4].MeasureDay)</p>
					</div>
					<div class="field411">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[3].MeasureDay)</p>
					</div>
					<div class="field412">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[2].MeasureDay)</p>
					</div>
					<div class="field413">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[1].MeasureDay)</p>
					</div>
					<div class="field414">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[0].MeasureDay)</p>
					</div>
					<div class="field420">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[4].HeightValue) @Html.DisplayFor(model => model.PhysicalDatas[4].HeightUnit)</p>
					</div>
					<div class="field421">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[3].HeightValue) @Html.DisplayFor(model => model.PhysicalDatas[3].HeightUnit)</p>
					</div>
					<div class="field422">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[2].HeightValue) @Html.DisplayFor(model => model.PhysicalDatas[2].HeightUnit)</p>
					</div>
					<div class="field423">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[1].HeightValue) @Html.DisplayFor(model => model.PhysicalDatas[1].HeightUnit)</p>
					</div>
					<div class="field424">
						<p><b>@Html.DisplayFor(model => model.PhysicalDatas[0].HeightValue) @Html.DisplayFor(model => model.PhysicalDatas[0].HeightUnit)</b></p>
					</div>
					<div class="field430">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[4].ShittingHeightValue) @Html.DisplayFor(model => model.PhysicalDatas[4].ShittingHeightUnit)</p>
					</div>
					<div class="field431">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[3].ShittingHeightValue) @Html.DisplayFor(model => model.PhysicalDatas[3].ShittingHeightUnit)</p>
					</div>
					<div class="field432">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[2].ShittingHeightValue) @Html.DisplayFor(model => model.PhysicalDatas[2].ShittingHeightUnit)</p>
					</div>
					<div class="field433">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[1].ShittingHeightValue) @Html.DisplayFor(model => model.PhysicalDatas[1].ShittingHeightUnit)</p>
					</div>
					<div class="field434">
						<p><b>@Html.DisplayFor(model => model.PhysicalDatas[0].ShittingHeightValue) @Html.DisplayFor(model => model.PhysicalDatas[0].ShittingHeightUnit)</b></p>
					</div>
					<div class="field440">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[4].LowerLimbLengthValue) @Html.DisplayFor(model => model.PhysicalDatas[4].LowerLimbLengthUnit)</p>
					</div>
					<div class="field441">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[3].LowerLimbLengthValue) @Html.DisplayFor(model => model.PhysicalDatas[3].LowerLimbLengthUnit)</p>
					</div>
					<div class="field442">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[2].LowerLimbLengthValue) @Html.DisplayFor(model => model.PhysicalDatas[2].LowerLimbLengthUnit)</p>
					</div>
					<div class="field443">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[1].LowerLimbLengthValue) @Html.DisplayFor(model => model.PhysicalDatas[1].LowerLimbLengthUnit)</p>
					</div>
					<div class="field444">
						<p><b>@Html.DisplayFor(model => model.PhysicalDatas[0].LowerLimbLengthValue) @Html.DisplayFor(model => model.PhysicalDatas[0].LowerLimbLengthUnit)</b></p>
					</div>
					<div class="field450">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[4].WeightValue) @Html.DisplayFor(model => model.PhysicalDatas[4].WeightUnit)</p>
					</div>
					<div class="field451">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[3].WeightValue) @Html.DisplayFor(model => model.PhysicalDatas[3].WeightUnit)</p>
					</div>
					<div class="field452">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[2].WeightValue) @Html.DisplayFor(model => model.PhysicalDatas[2].WeightUnit)</p>
					</div>
					<div class="field453">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[1].WeightValue) @Html.DisplayFor(model => model.PhysicalDatas[1].WeightUnit)</p>
					</div>
					<div class="field454">
						<p><b>@Html.DisplayFor(model => model.PhysicalDatas[0].WeightValue) @Html.DisplayFor(model => model.PhysicalDatas[0].WeightUnit)</b></p>
					</div>
					<div class="field460">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[4].BodyFatValue) @Html.DisplayFor(model => model.PhysicalDatas[4].BodyFatUnit)</p>
					</div>
					<div class="field461">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[3].BodyFatValue) @Html.DisplayFor(model => model.PhysicalDatas[3].BodyFatUnit)</p>
					</div>
					<div class="field462">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[2].BodyFatValue) @Html.DisplayFor(model => model.PhysicalDatas[2].BodyFatUnit)</p>
					</div>
					<div class="field463">
						<p>@Html.DisplayFor(model => model.PhysicalDatas[1].BodyFatValue) @Html.DisplayFor(model => model.PhysicalDatas[1].BodyFatUnit)</p>
					</div>
					<div class="field464">
						<p><b>@Html.DisplayFor(model => model.PhysicalDatas[0].BodyFatValue) @Html.DisplayFor(model => model.PhysicalDatas[0].BodyFatUnit)</b></p>
					</div>
				</div>
				<div class="field47">
					<div id="taikaku_chart" class="field48">
					</div>
				</div>
			</div>
			<!-- 体力/運動能力結果 -->
			<div class="field50">
				<img class="image50" src="~/images/nouryokuwaku.png" />
				<div class="field510">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].MeasureDay)</p>
				</div>
				<div class="field511">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].MeasureDay)</p>
				</div>
				<div class="field512">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].MeasureDay)</p>
				</div>
				<div class="field513">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].MeasureDay)</p>
				</div>
				<div class="field514">
					<p>@Html.DisplayFor(model => model.CapacityResults[0].MeasureDay)</p>
				</div>
				<div class="field520">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].Run20mValue) @Html.DisplayFor(model => model.CapacityResults[4].Run20mUnit)</p>
				</div>
				<div class="field521">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].Run20mValue) @Html.DisplayFor(model => model.CapacityResults[3].Run20mUnit)</p>
				</div>
				<div class="field522">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].Run20mValue) @Html.DisplayFor(model => model.CapacityResults[2].Run20mUnit)</p>
				</div>
				<div class="field523">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].Run20mValue) @Html.DisplayFor(model => model.CapacityResults[1].Run20mUnit)</p>
				</div>
				<div class="field524">
					<p><b>@Html.DisplayFor(model => model.CapacityResults[0].Run20mValue) @Html.DisplayFor(model => model.CapacityResults[0].Run20mUnit)</b></p>
				</div>
				<div class="field525">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].Run20mPoint)</p>
				</div>
				<div class="field526">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].Run20mPoint)</p>
				</div>
				<div class="field527">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].Run20mPoint)</p>
				</div>
				<div class="field528">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].Run20mPoint)</p>
				</div>
				<div class="field529">
					<p>@Html.DisplayFor(model => model.CapacityResults[0].Run20mPoint)</p>
				</div>
				<div class="field530">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].ProAgilityValue) @Html.DisplayFor(model => model.CapacityResults[4].ProAgilityUnit)</p>
				</div>
				<div class="field531">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].ProAgilityValue) @Html.DisplayFor(model => model.CapacityResults[3].ProAgilityUnit)</p>
				</div>
				<div class="field532">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].ProAgilityValue) @Html.DisplayFor(model => model.CapacityResults[2].ProAgilityUnit)</p>
				</div>
				<div class="field533">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].ProAgilityValue) @Html.DisplayFor(model => model.CapacityResults[1].ProAgilityUnit)</p>
				</div>
				<div class="field534">
					<p><b>@Html.DisplayFor(model => model.CapacityResults[0].ProAgilityValue) @Html.DisplayFor(model => model.CapacityResults[0].ProAgilityUnit)</b></p>
				</div>
				<div class="field535">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].ProAgilityPoint)</p>
				</div>
				<div class="field536">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].ProAgilityPoint)</p>
				</div>
				<div class="field537">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].ProAgilityPoint)</p>
				</div>
				<div class="field538">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].ProAgilityPoint)</p>
				</div>
				<div class="field539">
					<p>@Html.DisplayFor(model => model.CapacityResults[0].ProAgilityPoint)</p>
				</div>
				<div class="field540">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].StandJumpValue) @Html.DisplayFor(model => model.CapacityResults[4].StandJumpUnit)</p>
				</div>
				<div class="field541">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].StandJumpValue) @Html.DisplayFor(model => model.CapacityResults[3].StandJumpUnit)</p>
				</div>
				<div class="field542">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].StandJumpValue) @Html.DisplayFor(model => model.CapacityResults[2].StandJumpUnit)</p>
				</div>
				<div class="field543">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].StandJumpValue) @Html.DisplayFor(model => model.CapacityResults[1].StandJumpUnit)</p>
				</div>
				<div class="field544">
					<p><b>@Html.DisplayFor(model => model.CapacityResults[0].StandJumpValue) @Html.DisplayFor(model => model.CapacityResults[0].StandJumpUnit)</b></p>
				</div>
				<div class="field545">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].StandJumpPoint)</p>
				</div>
				<div class="field546">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].StandJumpPoint)</p>
				</div>
				<div class="field547">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].StandJumpPoint)</p>
				</div>
				<div class="field548">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].StandJumpPoint)</p>
				</div>
				<div class="field549">
					<p>@Html.DisplayFor(model => model.CapacityResults[0].StandJumpPoint)</p>
				</div>
				<div class="field550">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].RepetJumpValue) @Html.DisplayFor(model => model.CapacityResults[4].RepetJumpUnit)</p>
				</div>
				<div class="field551">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].RepetJumpValue) @Html.DisplayFor(model => model.CapacityResults[3].RepetJumpUnit)</p>
				</div>
				<div class="field552">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].RepetJumpValue) @Html.DisplayFor(model => model.CapacityResults[2].RepetJumpUnit)</p>
				</div>
				<div class="field553">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].RepetJumpValue) @Html.DisplayFor(model => model.CapacityResults[1].RepetJumpUnit)</p>
				</div>
				<div class="field554">
					<p><b>@Html.DisplayFor(model => model.CapacityResults[0].RepetJumpValue) @Html.DisplayFor(model => model.CapacityResults[0].RepetJumpUnit)</b></p>
				</div>
				<div class="field555">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].RepetJumpPoint)</p>
				</div>
				<div class="field556">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].RepetJumpPoint)</p>
				</div>
				<div class="field557">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].RepetJumpPoint)</p>
				</div>
				<div class="field558">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].RepetJumpPoint)</p>
				</div>
				<div class="field559">
					<p>@Html.DisplayFor(model => model.CapacityResults[0].RepetJumpPoint)</p>
				</div>
				<div class="field560">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].VerticalJumpValue) @Html.DisplayFor(model => model.CapacityResults[4].VerticalJumpUnit)</p>
				</div>
				<div class="field561">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].VerticalJumpValue) @Html.DisplayFor(model => model.CapacityResults[3].VerticalJumpUnit)</p>
				</div>
				<div class="field562">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].VerticalJumpValue) @Html.DisplayFor(model => model.CapacityResults[2].VerticalJumpUnit)</p>
				</div>
				<div class="field563">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].VerticalJumpValue) @Html.DisplayFor(model => model.CapacityResults[1].VerticalJumpUnit)</p>
				</div>
				<div class="field564">
					<p><b>@Html.DisplayFor(model => model.CapacityResults[0].VerticalJumpValue) @Html.DisplayFor(model => model.CapacityResults[0].VerticalJumpUnit)</b></p>
				</div>
				<div class="field565">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].VerticalJumpPoint)</p>
				</div>
				<div class="field566">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].VerticalJumpPoint)</p>
				</div>
				<div class="field567">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].VerticalJumpPoint)</p>
				</div>
				<div class="field568">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].VerticalJumpPoint)</p>
				</div>
				<div class="field569">
					<p>@Html.DisplayFor(model => model.CapacityResults[0].VerticalJumpPoint)</p>
				</div>
				<div class="field570">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].ReboundJumpIndexValue) @Html.DisplayFor(model => model.CapacityResults[4].ReboundJumpIndexUnit)</p>
				</div>
				<div class="field571">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].ReboundJumpIndexValue) @Html.DisplayFor(model => model.CapacityResults[3].ReboundJumpIndexUnit)</p>
				</div>
				<div class="field572">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].ReboundJumpIndexValue) @Html.DisplayFor(model => model.CapacityResults[2].ReboundJumpIndexUnit)</p>
				</div>
				<div class="field573">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].ReboundJumpIndexValue) @Html.DisplayFor(model => model.CapacityResults[1].ReboundJumpIndexUnit)</p>
				</div>
				<div class="field574">
					<p><b>@Html.DisplayFor(model => model.CapacityResults[0].ReboundJumpIndexValue) @Html.DisplayFor(model => model.CapacityResults[0].ReboundJumpIndexUnit)</b></p>
				</div>
				<div class="field575">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].ReboundJumpIndexPoint)</p>
				</div>
				<div class="field576">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].ReboundJumpIndexPoint)</p>
				</div>
				<div class="field577">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].ReboundJumpIndexPoint)</p>
				</div>
				<div class="field578">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].ReboundJumpIndexPoint)</p>
				</div>
				<div class="field579">
					<p>@Html.DisplayFor(model => model.CapacityResults[0].ReboundJumpIndexPoint)</p>
				</div>
				<div class="field580">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].GCTimeValue) @Html.DisplayFor(model => model.CapacityResults[4].GCTimeUnit)</p>
				</div>
				<div class="field581">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].GCTimeValue) @Html.DisplayFor(model => model.CapacityResults[3].GCTimeUnit)</p>
				</div>
				<div class="field582">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].GCTimeValue) @Html.DisplayFor(model => model.CapacityResults[2].GCTimeUnit)</p>
				</div>
				<div class="field583">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].GCTimeValue) @Html.DisplayFor(model => model.CapacityResults[1].GCTimeUnit)</p>
				</div>
				<div class="field584">
					<p><b>@Html.DisplayFor(model => model.CapacityResults[0].GCTimeValue) @Html.DisplayFor(model => model.CapacityResults[0].GCTimeUnit)</b></p>
				</div>
				<div class="field585">
					<p>@Html.DisplayFor(model => model.CapacityResults[4].JumpHeightValue) @Html.DisplayFor(model => model.CapacityResults[4].JumpHeightUnit)</p>
				</div>
				<div class="field586">
					<p>@Html.DisplayFor(model => model.CapacityResults[3].JumpHeightValue) @Html.DisplayFor(model => model.CapacityResults[3].JumpHeightUnit)</p>
				</div>
				<div class="field587">
					<p>@Html.DisplayFor(model => model.CapacityResults[2].JumpHeightValue) @Html.DisplayFor(model => model.CapacityResults[2].JumpHeightUnit)</p>
				</div>
				<div class="field588">
					<p>@Html.DisplayFor(model => model.CapacityResults[1].JumpHeightValue) @Html.DisplayFor(model => model.CapacityResults[1].JumpHeightUnit)</p>
				</div>
				<div class="field589">
					<p><b>@Html.DisplayFor(model => model.CapacityResults[0].JumpHeightValue) @Html.DisplayFor(model => model.CapacityResults[0].JumpHeightUnit)</b></p>
				</div>
				<div class="field590">
					<p><b>@Html.DisplayFor(model => model.CapacityResultAvg.Run20mAvg) 秒</b></p>
				</div>
				<div class="field591">
					<p><b>@Html.DisplayFor(model => model.CapacityResultAvg.ProAgilityAvg) 秒</b></p>
				</div>
				<div class="field592">
					<p><b>@Html.DisplayFor(model => model.CapacityResultAvg.StandJumpAvg) cm</b></p>
				</div>
				<div class="field593">
					<p><b>@Html.DisplayFor(model => model.CapacityResultAvg.RepetJumpAvg) 回</b></p>
				</div>
				<div class="field594">
					<p><b>@Html.DisplayFor(model => model.CapacityResultAvg.VerticalJumpAvg) cm</b></p>
				</div>
				<div class="field595">
					<p><b>@Html.DisplayFor(model => model.CapacityResultAvg.ReboundJumpIndexAvg) cm/s</b></p>
				</div>
				<div class="field596">
					<p><b>@Html.DisplayFor(model => model.CapacityResultAvg.GCTimeAvg) 秒</b></p>
				</div>
				<div class="field597">
					<p><b>@Html.DisplayFor(model => model.CapacityResultAvg.JumpHeightAvg) cm</b></p>
				</div>
			</div>
			<!-- 体力/運動能力結果 -->
			<div class="field60">
				<p>個人の評価は<span>測定時の年齢（●歳●ヶ月）</span>に基づいて5段階で評価しています（”<span>★</span>”が多いほど、評価が高いことを示しています）。全体・種目・チーム平均の評価は，<span>各学年・性別毎の平均値</span>を基に算出しています。</p>
			</div>
		</div>
		<div class="field11">
			<!-- 体力/運動能力グラフ -->
			<div class="field70">
				<div class="field71">
					<img class="image70" src="~/images/graph.png" />
				</div>
				<div class="field72">
				</div>
				<div class="field73">
					<div class="field74">
						<img class="image71" src="~/images/avreg.png" />
					</div>
					<div class="field75">
						<p>A</p>
					</div>
				</div>
			</div>
			<div class="field80">
				<div class="field81">
					<div class="field82">
						<img class="image80" src="~/images/20mrun.png" />
					</div>
					<div id="noryoku1_chart" class="field84">
					</div>
				</div>
				<div class="field81">
					<div class="field83">
						<img class="image80" src="~/images/proji.png" />
					</div>
					<div id="noryoku2_chart" class="field85">
					</div>
				</div>
				<div class="field81">
					<div class="field82">
						<img class="image80" src="~/images/tachhaba.png" />
					</div>
					<div id="noryoku3_chart" class="field84">
					</div>
				</div>
				<div class="field81">
					<div class="field83">
						<img class="image80" src="~/images/hantobi.png" />
					</div>
					<div id="noryoku4_chart" class="field85">
					</div>
				</div>
				<div class="field81">
					<div class="field82">
						<img class="image80" src="~/images/suitobi.png" />
					</div>
					<div id="noryoku5_chart" class="field84">
					</div>
				</div>
				<div class="field81">
					<div class="field83">
						<img class="image80" src="~/images/rebundjmp.png" />
					</div>
					<div id="noryoku6_chart" class="field85">
					</div>
				</div>
			</div>
			<div class="field90">
				<p>赤色のグラフは測定値で、赤丸の場所から得点を判断することができます（<span>5点</span>は1.5 SDより優れている、<span>4点</span>は1.5 SDと0.5 SDの間、<span>3点</span>は-0.5 SDと0.5 SDの間、<span>2点</span>は-0.5 SDと-1.5 SDの間、<span>1点</span>は-1.5 SDより劣る）。</p>
			</div>
			<div class="field100">
				<img class="image100" src="~/images/personInfo.png" />
			</div>
			<div class="field110">
				<div class="field111">
					<img class="image110" src="~/images/vconm.png" />
				</div>
				<div class="field112">
					<img class="image110" src="~/images/spconm.png" />
				</div>
				<div class="field113">
					<img class="image111" src="~/images/gsconm.png" />
				</div>
				<div class="field114">
					<img class="image110" src="~/images/ntconm.png" />
				</div>
			</div>
		</div>
	</div>
</div>
